@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", serif;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 140px;
  margin: 20px;
}
/* logo */
.logo {
  display: flex;
  align-items: center;
  gap: 11px;
}
.logo img {
  width: 72px;
  height: 72px;
}
.logo span {
  font-size: 32px;
  font-weight: bold;
}

/* nav items */

.nav-items ul {
  display: flex;
  list-style: none;
  gap: 50px;
}
.nav-items a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
}
.nav-items li:first-child a {
  color: #fea301;
  font-weight: bold;
}
.nav-items li:nth-child(2) a {
  color: #01acfd;
}
.nav-items li:nth-child(3) a {
  color: #05d4df;
}
.nav-items li:nth-child(4) a {
  color: #5d58ef;
}
.nav-container button {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 10px;
  width: 197px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.nav-container button:hover {
  background-color: #856c40;
}
.nav-container .menu-bar {
  display: none;
}

/* banner start */
.banner-container {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 0 140px;
  /* padding-inline: 140px; */
}
.banner-image {
  /* width: 468px; */
  /* height: 575px; */
}
.banner-text {
  /* width:100%; */
  height: 331px;
}
.banner-heading {
  font-size: 65px;
  font-weight: bold;
}
.banner-description {
  font-size: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.banner-text .Empowering {
  color: #fea301;
}
.banner-text .towards-vision {
  color: #01acfd;
}
.banner-text button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  width: 197px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.banner-text button:hover {
  background-color: #01acfd;
}

.main-part {
  background: linear-gradient(
      0deg,
      rgba(254, 163, 1, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    ),
    url("./assets/bg.png");
  background-position: center top;
}
/* Standard curriculum */
section {
  margin-top: 0px;
}
.curriculum-container {
  text-align: center;
}
.curriculum-head h3 {
  padding: 60px 0 80px 0;
  font-size: 46px;
  font-weight: bold;
}
.curriculum-cards {
  display: flex;
  gap: 28px;
  padding: 0 140px;
}
.curriculum-card {
  border-radius: 18px;
  box-shadow: 10px 2px 20px darkgrey;
}
.curriculum-card img {
  padding: 52px 0 0 0;
}
.curriculum-cards .card1 img {
  padding: 20px;
}
.card-head {
  padding: 32px 0 0 0;
}
.card-description {
  padding: 33px 10px 10px;
}
.read {
  padding: 0 0 53px 0;
}
.curriculum-card .read1 {
  color: #64c8ff;
  text-decoration: none;
}
.curriculum-card .read2 {
  color: #f0aa00;
  text-decoration: none;
}
.curriculum-card .read3 {
  color: #8700ff;
  text-decoration: none;
}
.card1 {
  background: linear-gradient(#def5ff, #ffffff);
}
.card2 {
  background: linear-gradient(#fff4dc, #ffffff);
}

.card3 {
  background: linear-gradient(#f2e8ff, #ffffff);
}
.arrow-container {
  padding: 0 144px;
  justify-items: center;
  display: flex;
  margin-top: 30px;

  justify-content: center;
}
.arrow {
  display: flex;
  gap: 20px;
  width: 140px;
  height: 60px;
  padding: 50px 0 60px 0;
  transform: scale(1.1);
  /* border: 5px solid #3b3830;  */
}
.arrow-left {
  background-color: orange;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-content: center;
}
.arrow-right {
  background-color: orange;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-content: center;
}
.arrow-left a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}
.arrow-right a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

/* Story */

.story-container {
  padding: 0 140px;
  padding-bottom: 30px;
}
/* head */

.story-head {
  padding: 0 144px;
  /* border: 4px solid cornflowerblue; */
}
.story-container .story-head h3 {
  font-size: 46px;
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
}

/* cards */

.story-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.small-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.large-card {
  background-color: white;
  border-radius: 16px;
}
.large-card img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}
.large-card h2 {
  padding: 0px 0px 0 70px;
}
.large-card .description {
  padding: 25px 50px 20px 70px;
}
.story-card {
  background-color: white;
  border-radius: 16px;
}
.small-cards img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}
.small-cards h4 {
  padding: 0 0 0 50px;
}
/* date part */

.date {
  color: white;
  width: 170.51px;
  height: 22px;
  padding: 10px;
  text-align: center;
  font-size: 15.35px;
  border-radius: 47.93px;
  position: relative;
  top: -25px;
  left: 70px;
}
.date1 {
  color: white;
  width: 160.51px;
  height: 20px;
  padding: 10px;
  text-align: center;
  font-size: 15.35px;
  border-radius: 47.93px;
  position: relative;
  top: -25px;
  left: 40px;
}
.date2 {
  color: white;
  width: 130.51px;
  height: 20px;
  padding: 10px;
  text-align: center;
  font-size: 15.35px;
  border-radius: 47.93px;
  position: relative;
  top: -25px;
  left: 40px;
}
.blue-date-bg {
  background-color: #3cd8e8;
}
.green-date-bg {
  background-color: #95b226;
}
.navyBlue-data-bg {
  background-color: #5d58f0;
}
.view-btn {
  text-align: center;
  padding-top: 80px;
}
/* .banner-text button:hover {
  background-color: #01acfd;
} */
.view-btn button:hover{
  color: black;
  background-color: #def5ff;
}
.story-container button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  width: 197px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
/* footer */
.footer-container {
  height: 250px;
  /* padding: 123px; */
  padding-top: 123px;
  background-color: #01acfd;
}
.footer {
  display: flex;
  justify-content: space-around;
  color: white;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.footer-logo h4 {
  font-size: 30px;
}
.footer-1st-section {
  /* width: 500px; */


}
.footer-1st-section p {
  padding-left: 20px;
}
.footer-link {
  list-style: none;
}
.footer-link h4 {
  font-size: 20px;
}
.footer-link li {
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer-link a {
  text-decoration: none;
  color: white;
}
.social-container h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.footer-keep-logo {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 576px) {
  header {
    margin: 0;
  }
  /* nav responsive */
  .nav-container {
    border-bottom: 1px solid orange;
    padding: 12px 16px;
    margin: 0;
  }
  .logo span {
    display: none;
  }
  .nav-items {
    display: none;
  }
  .nav-container button {
    display: none;
  }
  .nav-container .menu-bar {
    display: block;
  }

  /* banner responsive */

  .banner-container {
    flex-direction: column-reverse;
    margin-top: 20px;
    width: 100%;
    gap: 20px;
    padding: 0;
  }
  .banner-image {
    padding: 18px;
  }
  .banner-heading {
    font-size: 32px;
    text-align: center;
  }
  .banner-description {
    font-size: 14px;
    width: 357px;
    text-align: center;
  }
  .banner-image img {
    width: 100%;
  }
  .banner-btn {
    text-align: center;
  }
  /* Crurriculum */

  .curriculum-head h3 {
    font-size: 25px;
    padding-top: 18px;
    padding-bottom: 60px;
  }
  .curriculum-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 15px;
  }
  .curriculum-card {
    width: 350px;
  }
  .card1,
  .card2,
  .card3 {
    width: 100%;
  }
  .arrow-container {
    display: none;
  }

  /* Stroy */
  .story-container {
    padding: 0 0 10px;
  }
  .story-container .story-head h3 {
    font-size: 16px;
    padding-top: 35px;
    padding-bottom: 20px;
  }
  .large-card {
    display: none;
  }
  .story-cards {
    grid-template-columns: auto;
    padding: 10px;
  }
  .small-cards {
    gap: 10px;
  }
  .small-cards h4 {
    padding: 0 15px;
    font-size: 12px;
  }

  /* date */
  .date1 {
    font-size: 10px;
    height: 10px;
    width: 100px;
    top: -21px;
    left: 10px;
  }
  .date2 {
    font-size: 10px;
    height: 10px;
    width: 80px;
    top: -21px;
    left: 10px;
  }

  /* Adjust button */
  .view-btn {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .story-container button {
    width: 150px;
    height: 40px;
    font-size: 14px;
  }

  /* footer */
  .footer-container{
    height: 100%;
    /* width: 100%; */
    padding-top: 10%;
    padding-left: 10px;
  }
  .footer {
    display: flex;
    flex-direction: column;
   /* width: 100%; */
    /* height: 100%; */
    /* overflow: hidden; */
    gap: 20px;
  }

  .footer-logo {
    align-items: center;
    width: 200px;
    border: 1px solid;
    gap: 10px;
  }

  .footer-logo h4 {
    font-size: 24px;
  }
.footer-1st-section{
  /* flex-shrink: 1; */
  /* flex-basis: auto;  */
}
  .footer-1st-section p {
   padding: 0;
   width: 100%;
    font-size: 14px; 
  }

  .footer-link-container {
    margin-top: 20px;
  }

  .footer-link {
    padding: 0;
    margin: 0;
  }

  .footer-link h4 {
    font-size: 18px;
  }

  .footer-link li {
    margin-bottom: 10px;
  }
  .footer-keep-logo  img {
    width: 30px; 
    height: 30px;
  }
}
